.nui-wrapper {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nui-form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: #282c34;
  border-radius: 10px;
  min-width: 280px;
  min-height: 215px;
  justify-content: center;
  align-items: center;
  color: white;
}
